language: node_js
node_js:
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
after_script: "npm install coveralls@2.10.0 && cat ./coverage/**/lcov.info | coveralls"